.actor-name{
    padding-top: 40px;
    margin-top: 40px;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    /* background-color: aqua; */
    /* align-items: flex-start;
    justify-content: center; */
}
.class-box{
    width: 250px;
    height: 340px;
}